USE [PetAdoptionDB]
GO
/****** Object:  Table [dbo].[Adopters]    Script Date: 4/1/2026 12:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adopters](
	[AdopterId] [int] IDENTITY(1,1) NOT NULL,
	[AdopterName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Maritalstatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdopterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdoptionEntries]    Script Date: 4/1/2026 12:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionEntries](
	[AdoptionEntryID] [int] IDENTITY(1,1) NOT NULL,
	[PetId] [int] NOT NULL,
	[AdopterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdoptionEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/1/2026 12:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetId] [int] IDENTITY(1,1) NOT NULL,
	[PetName] [nvarchar](50) NOT NULL,
	[AdoptionFee] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdoptionEntries]  WITH CHECK ADD FOREIGN KEY([AdopterId])
REFERENCES [dbo].[Adopters] ([AdopterId])
GO
ALTER TABLE [dbo].[AdoptionEntries]  WITH CHECK ADD FOREIGN KEY([PetId])
REFERENCES [dbo].[Pets] ([PetId])
GO
